{{define "Constraints"}}
## OPERATIONAL CONSTRAINTS

### LANGUAGE
- Create the script in this language: {{.Language_name}} ({{.Language_code}}).
- Use local or regional idioms or idiosyncrasies if appropriate for the location of the POI.

### MEASUREMENTS
{{.UnitsInstruction}}

### RESTRICTIONS
- Do not mention GPS coordinates.
- Do not make up details about the flight progress, about where we're going, or about what we're going to see.
- Do not give aviation advice.
{{end}}
