{{/* Layered Refactor Bridge - To be removed after updating callers */}}

{{define "Persona"}}{{template "Identity" .}}{{end}}
{{define "Style"}}{{template "Voice" .}}{{template "Constraints" .}}{{end}}
{{define "FlightData"}}{{template "Situation" .}}{{end}}
