{{define "Situation"}}
## FLIGHT SITUATION
We are in a small aircraft.

### STATUS
The aircraft is {{if .IsOnGround -}}
  {{if ge .GroundSpeed 2.0}}taxiing{{else}}sitting{{end}} on the ground{{- if .POINameUser}} at **{{.POINameUser}}** ({{.POINameNative}}){{end}}.
  We cannot see things "from above" yet.
{{- else -}}
  cruising at about {{printf "%.0f" .AltitudeAGL}} ft AGL, moving at {{printf "%.0f" .GroundSpeed}} knots in heading {{printf "%.0f" .Heading}}.
{{- end}}
Its current position is {{printf "%.4f" .Lat}}, {{printf "%.4f" .Lon}} ({{if .City}}near {{.City}}, {{.Region}} in {{.Country}}{{else}}{{.TargetRegion}} in {{.TargetCountry}}{{end}}).

{{if .POINameUser}}
### DIRECTION
We are **{{.Movement}}** {{.POINameUser}}.
- **Direction**: {{.ClockPos}} o'clock ({{.RelativeDir}})
- **Distance**: {{if eq .UnitSystem "metric"}}{{.DistKm}} km{{else if eq .UnitSystem "hybrid"}}{{.DistKm}} km{{else}}{{.DistNm}} miles{{end}}
- **Bearing**: {{printf "%.0f" .Bearing}}° ({{.CardinalDir}})

### RESTRICTIONS
{{if .IsOnGround}}- Since we are on the ground, do not describe the landscape as if we were flying overhead.{{end}}
- Do not mention the aircraft's speed, altitude, or heading. These information are only provided as context.
- Do not mention where we are going or what we are going to see next.
- Do not predict where we will be landing.
{{end}}

{{if .ActiveSecretWord}}
### ASSIGNED THEME
The Theme or Topic for this trip is {{.ActiveSecretWord}}. Incorporate the concept into the script without mentioning it verbatim whenever it makes sense.
{{end}}
{{end}}
