.map-component {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.map-system-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.phileas-poi-layer {
    z-index: 100;
}
