.map-component {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.map-system-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.phileas-poi-layer {
    z-index: 100;
}

.phileas-airplane-layer {
    z-index: 200;
}

.map-brand {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #f39c12;
    opacity: 0.1;
    z-index: 10;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
