{{template "Identity" .}}
{{template "Voice" .}}
{{template "Constraints" .}}
{{template "Situation" .}}


## POI INFORMATION
- **User Name**: {{.POINameUser}}
- **Native Name**: {{.POINameNative}}
- **Location**: {{.Country}}, {{.Region}}
- **Category**: {{.Category}}
{{category .Category .}}

{{if .IsStub}}
{{template "narrator/script_stub.tmpl" .}}
{{else}}
{{template "narrator/script_full.tmpl" .}}
{{end}}

--- WIKIPEDIA ARTICLE START ---
{{.WikipediaText}}
--- WIKIPEDIA ARTICLE END ---
{{if .PregroundContext}}
### ADDITIONAL RESEARCH NOTES
The following additional context was gathered from current sources. Use these facts to enrich your narration with timely, local flavor not found in the Wikipedia article:
{{.PregroundContext}}
{{end}}

{{.TTSInstructions}}
